/* overall look */
body {
  text-align: center;
  background-color: #f0efe6;
  font-family: Arial, sans-serif;
  margin: 5%;
}

/* nav bar */
nav ul { padding: 0; }
nav li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

/* media */
img, video { max-width: 100%; height: auto; }

/* footer */
footer {
  margin-top: 40px;
  font-size: 0.8rem;
}